.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 124px;
    
}
.containerUl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 32px;
    row-gap: 48px;
    align-items: flex-start;
}
.item {
   
    height: 424px;
    flex: 0 0 calc(25% - 24px);
}
.buttonContainer {
 display: flex;
 align-items: center;
 justify-content: center;
}
.button {
  width: 156px;
  height: 44px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 36px;
  transition: border 0.8s ease;
  background: transparent;
    
}
.button:hover,
.button:focus {
    border: 1px solid #0b44cd;
}